
header{
	background: #476C99;
	height: 3em;
}
header button{
	background: #476C99;
	height: 2em;
	width: 2em;
	

}
section.input{
	padding: 5em;
}
#inputUrl{
	width: 35em;
	height: 2em;
	display: block;
	margin-bottom: 1em;
}
.inputButton{
	float: right;
	margin: .5em;
}
.inputComment{
	width: 35em;
	height: 2em;
	display: block;
	margin-bottom: 1em;
}
.display{
	background: #E0E1E2;
	margin: auto auto;
}
.divContainer{
	background: white;
	height: 10em;
	width: 10em;
}
img{
	width: 20em;
	height: 20em;
	margin: 0;
}

